$themes: ( light: ( 'white':#ffffff, 'black': #000000, 'primary': #2a3f54, 'secondary': #1ABB9C, 'blue01': #007bff, ), dark: ( 'white': #000000, 'black':#ffffff, 'primary': #1ABB9C, 'secondary': #2a3f54, 'blue01': #007bff, ), );
$width-sidebar: 260px;
$font-default: 14px 'iranyekan' !important;
$font-default-b: 14px 'iranyekan_b' !important;
$font-default-1: 50% 'iranyekan' !important;
$font-default-2: 60% 'iranyekan' !important;
$font-default-3: 75% 'iranyekan' !important;
$font-default-4: 90% 'iranyekan' !important;
$font-default-5: 100% 'iranyekan' !important;

$font-bold: 14px 'iranyekan' !important;
$darkBlue-self: #0e2b68;

$icomoon-font-path: "../fonts/fonticon" !default;
$icon-microsoftword: "\e909";
$icon-microsoftexcel: "\e90a";
$icon-adobeacrobatreader: "\e90b";
$icon-star: "\e905";
$icon-angle-right: "\e902";
$icon-angle-left: "\e907";
$icon-angle-down: "\e908";
$icon-home: "\e900";
$icon-th-menu: "\e901";
$icon-plus: "\e903";
$icon-minus: "\e904";
$icon-folder-download: "\e906";

$primary: #00A651;
$secondary: #181F86;
$tertiary: #F26168;
$alert: #FEC049;
$info: #3DB6F2;
$error: #CC334D;
$success: #1EC982;
$river-bed: #3E4C59;

$nero: #1e1e1e;
$nightRider : #333333;
$puertoRico: #00A651;
$orange: #181F86; 
$caramel: #8acdc3;
$iceCold: #C5F3EC;
$azure: #ECEEFD;
$lavender: #CFD2F6;
$ceruleanBlue: #d3d5f9;
$hawkesBlue: #E8E9FB;
$small: 1024px;
$medium: 1224px;
$large: 1424px;
$ultra: 1500px;
$ultra-large: 1724px;